nav
{
    background-color: antiquewhite;

}

.selectedroute
{
    color: white;
    background-color: navy;
    font-size: 22px;
    display: inline-block;
}

a
{
   padding-left: 10px;
   padding-right: 10px;  
   border-radius: 10px;
   text-decoration: none;
}
