<div style="background-color: aquamarine;text-align: center;">
<h1>Expense Manager App <img src="../assets/exp.png" width="100" height="100"></h1>
<hr>
</div>
<nav>
    <a routerLink="/home" routerLinkActive="selectedroute">Home</a>
    <a routerLink="/addexpense" routerLinkActive="selectedroute">Add Expense</a>
    <a routerLink="/showexpense" routerLinkActive="selectedroute">Show Expense</a>
    <a routerLink="/sortexpense" routerLinkActive="selectedroute">Sort By Date</a>
</nav>

<hr>
<router-outlet></router-outlet>