<div class="container">
    <h3 style="text-align: center;background-color: chartreuse;">Total Expenses : {{totalexpense[0].sum_val | currency:'INR'}}</h3>
    <table class="table table-bordered">
        <thead style="background-color: cyan;font-size: 20px;color: saddlebrown;">
            <th>Expense Date</th>
            <th>House Rent</th>
            <th>Electricity Bill</th>
            <th>Food Bill</th>
            <th>Travel Amount</th>
            <th>Other Amount</th>
            <th>Total Expenses of the day</th>
        </thead>
        <tbody>
            <tr *ngFor="let ex of expenseData">
                <td>{{ex.todayDate | date}}</td>
                <td>{{ex.houseRent}}</td>
                <td>{{ex.electricBill}}</td>
                <td>{{ex.foodBill}}</td>
                <td>{{ex.travelAmount}}</td>
                <td>{{ex.otherAmount}}</td>
                <td>{{ex.expenseDay | currency:'INR'}}</td>
            </tr>
        </tbody>
    </table>
</div>